<div class="cefr-indicator-widget">
    <div class="cefr-indicator-head">
        <p>Estimated CEFR Distributions</p>
        <div class="circle">i</div>
    </div>
    <!-- A1 Level -->
    <div class="indicator-level">
        <div class="indicator">
            <div class="filler"></div>
        </div>
        <div class="level-details">
            <span>A1</span>
            <span>58%</span>
            <span>(14)</span>
        </div>
    </div>
    <!-- A2 Level -->
    <div class="indicator-level">
        <div class="indicator">
            <div class="filler"></div>
        </div>
        <div class="level-details">
            <span>A1</span>
            <span>58%</span>
            <span>(14)</span>
        </div>
    </div>
    <!-- B1 Level -->
    <div class="indicator-level">
        <div class="indicator">
            <div class="filler"></div>
        </div>
        <div class="level-details">
            <span>A1</span>
            <span>58%</span>
            <span>(14)</span>
        </div>
    </div>
    <!-- B2 Level -->
    <div class="indicator-level">
        <div class="indicator">
            <div class="filler"></div>
        </div>
        <div class="level-details">
            <span>A1</span>
            <span>58%</span>
            <span>(14)</span>
        </div>
    </div>
    <!-- C1 Level -->
    <div class="indicator-level">
        <div class="indicator">
            <div class="filler"></div>
        </div>
        <div class="level-details">
            <span>A1</span>
            <span>58%</span>
            <span>(14)</span>
        </div>
    </div>
    <!-- C2 Level -->
    <div class="indicator-level">
        <div class="indicator">
            <div class="filler"></div>
        </div>
        <div class="level-details">
            <span>A1</span>
            <span>58%</span>
            <span>(14)</span>
        </div>
    </div>
    <!-- UNKNOWN Level -->
    <div class="indicator-level">
        <div class="indicator">
            <div class="filler"></div>
        </div>
        <div class="level-details">
            <span>A1</span>
            <span>58%</span>
            <span>(14)</span>
        </div>
    </div>
</div>